name: Publish project to Maven repository

on:
  pull_request:
    branches:
      - main
      - dev
    types: [ closed ]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle.properties', '**/settings.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make Gradlew executable
        run: chmod +x gradlew

      - name: Build and publish to Maven repository (snapshot)
        if: github.ref_name == 'dev'
        run: ./gradlew publish
        env:
          SNAPSHOT_BUILD: true
          ORG_GRADLE_PROJECT_mavenRepositoryUrl: ${{ secrets.MAVEN_REPOSITORY_URL_SNAPSHOT }}
          ORG_GRADLE_PROJECT_mavenRepositoryUsername: ${{ secrets.MAVEN_REPOSITORY_USERNAME_SNAPSHOT }}
          ORG_GRADLE_PROJECT_mavenRepositoryPassword: ${{ secrets.MAVEN_REPOSITORY_PASSWORD_SNAPSHOT }}

      - name: Build and publish to Maven repository (release)
        if: github.ref_name == 'main'
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_mavenRepositoryUrl: ${{ secrets.MAVEN_REPOSITORY_URL_RELEASE }}
          ORG_GRADLE_PROJECT_mavenRepositoryUsername: ${{ secrets.MAVEN_REPOSITORY_USERNAME_RELEASE }}
          ORG_GRADLE_PROJECT_mavenRepositoryPassword: ${{ secrets.MAVEN_REPOSITORY_PASSWORD_RELEASE }}
